@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

body {
  background-image: linear-gradient(45deg, #13547a, #80d0c7);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;  
}
.Container {
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 20px;
  overflow: hidden;
  width: 100%;
  height: 200px;
  background-color: #fff;
  padding: 30px;
}
.horizontally-centered-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input:focus {
  outline: none !important;
}
.bar {
  display: flex;
  flex-direction: row;
  width: 100%;
}
h4 {
  width: 200px;
  font-size: 0.8rem !important;
  font-family: 'Red Hat Display', sans-serif;
  color: #9ca5b4;
  letter-spacing: 0.1rem;
}
.elapsed-bar-container {
  width: 100%;
  height: 1.5rem;
  border: 1px solid #9ca5b4;
  border-radius: 5px;
  margin: 1rem 0;
  display: flex;
  align-items: center;
}
.elapsed-bar {
  width: 0%;
  height: 100%;
  background: #c3cfe2; 
}
button {
  width: 40%;
  background-color: #c3cfe2;
  border: 0;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 30px;
}
/*style range input*/

input[type=range]{
  -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
  background: #c3cfe2;
  border: none;
  border-radius: 4px;
}
input {
  width: 100%;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #9ca5b4;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

@media only screen and (max-width: 1200px) {
  .Container {
    min-width: 350px;
  }
}